@charset 'utf-8';
<style>
	#root {
		border: 2px solid black;
		max-width: 1200px;
		margin: auto;
	}
	#column {
		background-color: #dadada;
		display: flex;
	}
	#column > div {
		flex: 1;
		padding: 5px 10px;
		border: 1px solid black;
		text-align: center;
		font-weight: bold;
	}
	.loading {
		display: block;
		height: 300px;
		margin: 100px auto;
	}
	.item {
		border: 1px solid black;
		display : flex;
	}
	.item > div {
		flex: 1;
		padding: 5px 10px;
		border: 1px solid black;
		text-align: center;
		
	}
</style>